@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  /* --background: oklch(1 0 0); */
  --background: oklch(0.99 0.02 95.15);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  /* --accent: oklch(0.97 0.001 106.424); */
  /* --accent-foreground: oklch(0.216 0.006 56.043); */
  --accent: oklch(63.695% 0.24853 27.789);
  --accent-foreground: oklch(0.97 0.001 106.424);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Animation definitions */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.x-animate-slow-spin {
  animation: spin 40s linear infinite;
}

.x-container {
  @apply max-w-5xl mx-auto px-4 py-10;
}

.x-button {
  @apply bg-primary text-white hover:bg-black transition-colors rounded p-2 inline-flex no-underline! items-center gap-1;
}

.x-top-nav {
  @apply px-2 py-5 flex items-center justify-between flex-col sm:flex-row;

  .x-main-link {
    @apply font-semibold hover:underline flex items-center my-4;
  }

  .x-main-link::before {
    @apply inline-block mr-2 bg-amber-200 rounded-full;
    content: url('/logo.svg');
    width: 80px;
    height: 80px;
  }

  .x-menu {
    @apply flex flex-row flex-wrap list-none gap-8 m-0 items-center justify-center font-medium;
  }

  a {
    @apply hover:underline my-4;
  }
}

.x-top-page {
  h1 {
    @apply text-5xl font-semibold my-2;
  }

  h2 {
    @apply text-3xl font-medium my-2;
  }

  h3 {
    @apply text-xl my-1;
  }

  hr {
    @apply my-10 border-stone-200 dark:border-stone-700;
  }

  section {
    @apply my-20;
  }
}

.x-contact-page {
  h2 {
    @apply text-3xl font-medium my-2;
  }

  h3 {
    @apply text-xl mt-6 flex items-center gap-2;
  }

  a {
    @apply underline;
  }

  .social-icons {
    width: 30px;
    height: 30px;
  }
}

.x-hero {
  @apply my-4 sm:my-36;

  h1 {
    @apply text-primary;

    .social-icons {
      width: 100px;
      height: 100px;
    }
  }

  p {
    @apply my-8 text-lg;
  }
}

.x-page-header {
  @apply sm:my-24;

  h1 {
    @apply text-5xl font-semibold my-2 text-primary;
  }

  h2 {
    @apply text-xl my-2;
  }

  h3 {
    @apply text-xl font-semibold mt-6;
  }
}

.x-post-card {
  @apply my-10;
  @apply clear-both;
  @apply border-l-2 border-l pl-2;

  h3 {
    @apply text-xl font-medium;
  }

  time {
    @apply block text-sm text-gray-500;
  }

  section {
    @apply my-36;
  }

  a {
    @apply no-underline hover:underline;
  }

  .x-read-more-link {
    @apply block mt-2 underline text-primary;
  }
}

.x-program-list {
  @apply flex flex-col gap-4;
}

.x-program-card {
  @apply border rounded-xl overflow-clip border-stone-200 bg-white;
  @apply grid grid-cols-1 sm:grid-cols-2;

  .x-part2 {
    @apply p-4;

    h2 {
      @apply text-2xl my-2;
    }
  }

  h3 {
    @apply text-2xl font-medium;
  }

  p {
    @apply text-stone-500;
  }

  time {
    @apply block text-sm text-gray-500;
  }

  section {
    @apply my-36;
  }

  a {
    @apply no-underline hover:underline;
  }

  .x-read-more-link {
    @apply block mt-2 underline text-primary;
  }
}

.x-blog-header {
  @apply sm:my-10;

  h1 {
    @apply text-4xl font-medium my-2;
  }

  .x-meta-block {
    @apply text-sm text-gray-500 dark:text-gray-400;
  }
}

.x-bio {
  @apply bg-stone-200 dark:bg-stone-800 px-4 py-8;

  h3 {
    @apply text-xl font-medium;
  }

  h4 {
    @apply font-light;
  }
}

p {
  @apply my-6;
}

.x-tag {
  @apply px-2.5 py-0.5 text-sm font-semibold rounded-md transition-colors;
  @apply bg-stone-900 text-white;
  @apply dark:bg-gray-50 dark:text-black;
  @apply no-underline!;

  &:hover {
    @apply bg-stone-500;
    @apply dark:bg-gray-200;
  }
}

.x-global-footer {
  @apply my-36;

  .x-row {
    @apply flex flex-col justify-between;
    @apply sm:grid sm:grid-cols-3 sm:gap-8;
  }

  h4 {
    @apply text-lg font-medium my-0;
  }

  a {
    @apply text-accent hover:underline;
  }

  p {
    @apply my-0;
  }

  .x-author {
    @apply font-medium;
  }

  .x-col1, .x-col2, .x-col3 {
    @apply flex flex-col gap-3 my-4;
  }

  .social-icons {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.social-icons {
  @apply inline-block;
}

.prose code {
  &:before,
  &:after {
    @apply hidden;
  }
  .line {
    @apply font-normal;
  }
}

.prose a svg {
  @apply inline-block;
}

.x-tech-stack {
  @apply flex flex-wrap gap-4;
  @apply my-4;
  @apply items-center;

  a {
    @apply rounded-lg bg-stone-200 dark:bg-stone-800 px-4 py-2;
    @apply text-sm font-semibold;
    @apply text-stone-900 dark:text-stone-100;
    @apply transition-colors duration-200;
    @apply flex items-center;
    height: 60px;
  }
  a:hover {
    @apply bg-stone-300 dark:bg-stone-700;
  }
}